
<div class="cont">
  <a href='admin-login'>Logout</a>
</div>

<div class="container">
  <button class="button" (click)="ImportPage()">Import Data</button>
  <button class="button" (click)="ManageComp()">Manage Company</button>
  <button class="button" (click)="UpdateIPO()">Update IPO Details</button>
  <button class="button">Manage Exchange</button>
</div>


<div class="bdy">
  <table>
    <tr>
      <td>Select the file path to be uploaded</td>
      <td><input type="text"></td>
      <td> <input type="button"  value="Upload" style="float: right"></td>
    </tr>
  </table>
</div>
<button class="bttn">Download In Excel</button>
