<div class="cont">
  <a href='admin-login'>Logout</a>
</div>

<div class="container">
  <button class="butn" (click)="ImportPage()">Import Data</button>
  <button class="butn" (click)="ManageComp()">Manage Company</button>
  <button class="butn" (click)="UpdateIPO()">Update IPO Details</button>
  <button class="butn">Manage Exchange</button>
</div>

<div class="contain">
  <table>
    <tr>
      <td>CompanyCode</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>CompanyName</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>CEO</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button class="button">Add</button>
        <button class="button">Edit</button>
        <button class="button">Delete</button>
        <button class="button">Get</button>
      </td>
    </tr>
  </table>
</div>
