<div class="cont">
  <a href='admin-login'>Logout</a>
</div>

<div class="container">
  <button class="button" (click)="ImportPage()">Import Data</button>
  <button class="button" (click)="ManageComp()">Manage Company</button>
  <button class="button" (click)="UpdateIPO()">Update IPO Details</button>
  <button class="button">Manage Exchange</button>
</div>
<div class="contain">
  <table>
    <tr>
      <td>ID</td>
      <td><input type="number"></td>
    </tr>
    <tr>
      <td>CustomerCode</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>StockExchange</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><input type="number"></td>
    </tr>
    <tr>
      <td>TotalShares</td>
      <td><input type="number"></td>
    </tr>
    <tr>
      <td>DateTime</td>
      <td><input type="datetime"></td>
    </tr>
    <tr>
      <td>Remarks</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button class="butn">Add</button>
        <button class="butn">Edit</button>
        <button class="butn">Delete</button>
        <button class="butn">Get</button>
      </td>
    </tr>
  </table>
</div>
